<tr class="nested-fields">
  <td>
    <%= f.select :attr_type, attribute_type_selector, :prompt => 'Select One' %>
  </td>
  <td>
    <%= f.text_field :val %>
  </td>
</tr>
  <%#= link_to_remove_association "remove row attribute", f %>
