<tr class="nested-fields">
  <td>
    <%= f.select :attr_type, attribute_type_selector,  { :include_blank => '-- Select One --' }, :required => true %>
  </td>
  <td>
    <%= f.text_field :val %>
  </td>
</tr>

