<div class="nested-fields" style="padding: 10px">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :row_attributes do |r| %>
              <%= render 'row_attribute_fields', f: r %>
        <% end %>
      </tbody>
    </table>
</div>
