<h1>Import File</h1>

<p>File name: <%= @contact_importer_file.file_name %></p>
<p>Status: <%= @contact_importer_file.status %></p>
<p>Log: <%= @contact_importer_file.log %></p>

<%= link_to 'Go back', upload_index_path, class: 'btn btn-danger' %>